<!DOCTYPE html>
<html>
<head>
    <title>TechVibe - E-commerce</title>
    <!-- Link para a fonte Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="/stylesheets/cabecalho.css">
</head>
<body>
    <header class="header">
        <!-- Logo -->
        <div class="logo">
            <img src="/images/LogoEcom.png" alt="TechVibe"></a>
        </div>
        <!-- Barra de navegação -->
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/sobreNos">Sobre Nós</li>
            </ul>
        </nav>
        <!-- Autenticação e carrinho -->
        <div class="auth-cart">
            <a href="/carrinho" class="cart-link">
                <img src="/images/icon-carrinho.png" alt="Carrinho de Compras">
            </a>
            <div class="auth-links">
                <a href="/login" class="auth-link">Minha Conta</a>
                <a href="/cadastro" class="auth-link">Cadastre-se</a>
            </div>
        </div>
    </header>
    <!-- Resto do código HTML -->
</body>
</html>
