.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.25rem;
    margin: 10px 0;
}

.product-card p {
    font-size: 1rem;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #020740;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #333333;
}
